@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-very-pale-blue;
  /* @apply bg-light-grayish-blue-bar; */
  font-family: "Manrope", sans-serif;
}
