---
import '../styles/globals.css'

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<div>
				<div class="w-full text-center text-[1.875rem] lg:text-[1.5625rem] tracking-[0.25em] text-dark-grayish-cyan">
          <h1>
						Simple, traffic-based pricing
          </h1>
					<p>
						Sign-up for our 30-day trial. No credit card required.
					</p>
        </div>

				<div class="w-full p-[2.375rem] bg-white rounded-3xl">
					<div>
						div
					</div>
					<div></div>
				</div>
			</div>
		</main>
	</body>
</html>
